*{
    padding: 0;margin: 0;
}
html{
  font-size: 100%;
}
body{
    background-color: antiquewhite;
}
.card{
    display: inline-flex;
    margin: 2rem 4rem;
}
.img img{
    width: 100%;
    height: 30rem;
}
.img{
    height: 30rem;
}
.card-i {
   
    position: relative;
    top: -24rem;
  }
  header{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 3rem;
  


  }
  #heading{
   
    color: red;
  }
  .card{
    border: 0.2rem solid black;
    box-shadow: 1rem 1rem 1rem 0.2rem;

  }
  .chat{
    display: inline-flex;
margin-left: 5%;
top: 20rem;
position: relative;
top: 10rem;
  }
  .chat p{
    position: relative;
left: -17%;
bottom: 20%;
top: 5rem;

  }
  .chat h2{
    position: relative;
    top: -5rem;
    left: 6rem;
  }
  .helping-desk{
    display: flex;
    position: relative;
    top: 20rem;
  }
  .helping-desk ul{
    display: inline-flex;
position: relative;
bottom: 5rem;
right: 33rem;
top: 6rem;

  }
  .helping-desk li{
    list-style: none;
   margin-left: 4rem;
   border: 0.1rem solid black;
   padding: 0.1rem 0.3rem;
   background-color: antiquewhite;
   border-radius: 10%;
   text-align: center;

  }
  .detail{
    line-height: 4rem;
  }
  .footer{
    position: relative;
top: 31rem;
height: 9rem;
background: aqua;
display: flex;
align-items: center;
justify-content: center;
align-content: center;
  }
.navbar{
  background-image: linear-gradient(35deg,  #FFCCCC,#0fdddd,white);
}
@media(max-width:998px){
  html{
    font-size: 55%;
  }
}
@media(max-width:668px){
  html{
    font-size: 45%;
  }
}
@media(max-width:703px){
  .helping-desk ul{
    display: block;
position: relative;
bottom: 5rem;
right: 33rem;
top: 6rem;
margin-left:10rem ;


  }
}

  @media(max-width:703px){
    .helping-desk li{
      list-style: none;
     margin-left: 4rem;
     border: 0.1rem solid black;
     padding: 0.1rem 0.3rem;
     background-color: antiquewhite;
     border-radius: 10%;
     text-align: center;
    margin: 1rem 1rem;
  
    }
  }

  @media(max-width:703px){
  
      .chat p{
        position: relative;
left: -14%;
bottom: 19%;
top: 9rem;
line-height: 2rem;
    
      }
    
  }
